.row.front-video
  .large-12.columns
    .flex-video.widescreen.vimeo
      = '<iframe src="http://player.vimeo.com/video/44596807?badge=0" height="100%" "width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>'
    %h2 Sustainably empowering widows and orphans in Uganda.

