// Global Foundation Settings
@import "settings";

@import "normalize";
// Comment out this import if you are customizing you imports below
@import "foundation";
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing
// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
// Fill in for Foundation 4 missing compass
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "fonts";

body {
  background-color: $backgroundColor;
}

hr {
  border: 1px solid $white;
}

header, footer {
  hr {
    margin-top: emCalc(0px);
    margin-bottom: emCalc(0px);
  }
}

header {
  @include grid-row();
  .logo {
    display: block;
    padding: 0;
    width: emCalc(152px);
    height: emCalc(88px);
  }
  nav.top-bar {
    @include grid-column(12);
    margin-bottom: 0;
    .top-bar-section li a:not(.button) {
      height: 45px;
    }
    @media #{$small} {
      section.top-bar-section.overhang-right {
        left: 0.9375em !important;
      }
      .top-bar-section li a:not(.button) {
        color: $txtColor;
        text-transform: lowercase;
        letter-spacing: 2px;
        line-height: 2.625em;
        margin-top: 54px;
        height: 34px;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        font-weight: normal;
        &:hover {
          color: white;
          background-color: #5A3A51;
        }
      }
    }
  }
}

footer {
  nav {
    padding-top: emCalc(10px);
    @include grid-row();
    .links {
      @include grid-column();
      @media #{$small} {
        @include grid-column(7);
      }

      ul {
        @include inline-list;
        li {
          a {
            color: $txtColor;
          }
        }
      }
    }
    .social {
      @include grid-column();
      a {
        font-size: 1.5em;
        color: white;
      }
      @media #{$small} {
        @include grid-column(5);
        ul {
          float: right;
        }
      }
      ul {
        @include inline-list;
      }
    }
  }
}

p {
  line-height: 1.2;
}

// Elements

article {
  @include grid-row();
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: #027d7d;
    letter-spacing: 2px;
  }

  & > header {
    @include grid-row();
    & > img {
      @include grid-column(12);
      @media only screen and (min-width: emCalc(1020px)) {
        width: emCalc(1000px);
        height: emCalc(200px);
      }
    }
  }

  & > .info {
    @include grid-row();
    & > #content {
      @include grid-column(12);
      @media #{$small} {
        @include grid-column(8, $float: left);
      }
    }
    & > aside {
      @include grid-column(12);
      @media #{$small} {
        @include grid-column(4, $float: left);
      }
    }
  }

  & > .spread {
    @include grid-row();
    & > #content {
      @include grid-column(12);
    }
  }
}

.sidebar {
  color: #d6d3d2;
  background-color: gray;
  padding: emCalc(10px);
  padding-bottom: emCalc(16px);
  @include background(linear-gradient(top, #474848, #585858));
  h1, h2, h3, h4, h5, h6 {
    color: #a0c8bd;
    text-align: center;
    margin-top: emCalc(0px);
    margin-bottom: emCalc(0px);
    &:first-child {
      margin-top: emCalc(0px);
      margin-bottom: -emCalc(6px);
    }
  }

  h3 {
    margin-bottom: emCalc(5px);
  }

  .program {
    text-align: center;
    img {
      margin-top: emCalc(8px);
      margin-bottom: emCalc(8px);
    }
  }
  .fbbutton {
    padding: emCalc(5px);
    text-align: center;
  }

  #gcal-events {
    a {
      color: #d6d3d2;
    }
    ul{
      line-height: 1.2em;
      margin-left: 20px;
    }
  }
  hr {
    margin-top: emCalc(8px);
    margin-bottom: emCalc(8px);
  }
  .vcard {
    border: 0;
    width: emCalc(259px);
    margin-left: auto;
    margin-right: auto;
    font-style: normal;

  }

}

// Front Page specific

.front-video {
  iframe {
    @media only screen and (min-width: emCalc(767px)) {
      height: emCalc(505px);
    }
    @media only screen and (max-width: emCalc(767px)) {
      height: emCalc(250px);
    }
  }
}

// Donate Page specific
.donate-option {
  font-size: 14px;
  margin-bottom: emCalc(10px);
  a.button {
    @extend .radius.button;
    padding: 8px 45px 8px 8px;
    margin: 0;
    border: none;
    @include box-shadow(none);
    font-weight: normal;
    font-family: $header-font-family;
    text-transform: uppercase;
    font-size: 44px;
    &:after {
      content: ">";
      padding: 6px 13px;
      color: $primary-color;
      font-size: 30px;
      vertical-align: middle;
      position: absolute;
      right: 0;
    }
    &:before {
      content: "\25CF";
      width: 44px;
      height: 44px;
      font-size: 75px;
      position: absolute;
      top: -9px;
      right: 1px;
    }
  }
}

// Graceful Orbit Loading State
#featured img {
  display: none;
}

#featured.orbit img {
  display: block;
}

