html { background:#ffffff; }

body {
	width: 950px;
	margin: 0 auto;
	min-width: 950px;
}

#header {
	height: 80px;
	width: 950px;
	border: none;
	position: relative;
}

/* Begin Social Links */

 
#social {
	float: right;
	position: relative;
	right: 5px;
	bottom: 50px;
	width: 675px;
	text-align: right;
} 

#social a {
	text-decoration: none;
	color: #999999;
	font-family: Arial;
	font-size: large;
	padding-left: 5px;
	}

#social a:hover.facebook {
	color: #3B5998;
	}

#social a:hover.twitter {
	color: #4099FF;
	}
	
#social a:hover.youtube {
	color: #FF3333;
	}

/* End Social Links */

#billboard {
	clear: both;
	width: 900px
	height: 450px;
	border: none;
	margin-left: 25px;
	top: -20px

}

#nav {
	height: 25px;
	margin-top: 0px;
	font-family: Arial;
	font-size: small;
	text-align: center;
	color: #5a3a51;
}

#nav a {
	color: #5a3a51;
	font-family: Arial;
	font-size: small;
	font-weight: bold;
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
	
}

#footer {
	text-align: center;
	color: #cccccc;
	font-family: Arial;
	font-size: small;
}