body { background: #fff; }
a:link, a:visited, a:active { text-decoration: none; }

/* Begin Social */

#social a {
	text-decoration: none;
	color: #999999;
	font-family: Arial;
	font-size: 20px;
	}

#social a:hover.facebook {
	color: #3B5998;
	}

#social a:hover.twitter {
	color: #4099FF;
	}
	
#social a:hover.youtube {
	color: #FF3333;
	}